C:\Users\Shawn - Eldritch\AppData\Local\FoundryVTT\Data\dev\eldritch-dreams-castlevania-creatures\sd
C:\Users\Shawn - Eldritch\AppData\Local\FoundryVTT\Data\dev\eldritch-dreams-castlevania-creatures\eldritch-dreams-castlevania-creatures.zip